streamlit
python-dotenv
langchain
langchain-community
chromadb
pypdf
langchain-ollama
langchain-chroma
langchain-google-genai
cryptography
transformers
torch
sentence-transformers
accelerate
langchain
langchain-core
langchain-chroma
chromadb
pypdf
python-dotenv
streamlit
